@import "reset";
@import 'react-redux-toastr/src/styles/index';
@import "variables";
@import "fonts";
@import "mixins";
@import "helpers";
@import "buttons";
@import "forms";

*, *:before, *:after  {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  @extend .text-base;
  background: #{$color-background-primary};
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
}
